*{
  margin: 0;
  padding: 0;
}

.app {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }

  .app{
    border: 2px solid green;
  }

  /* Header part of resume- START */

  .resumeHeader{
    background-color: yellowgreen;
  }

  .resumeName{
    display: inline-flex;
  }

  .resumeName h2{
    margin-right: 5px;
  }

  .socialLinks{
    display: inline-flex;
  }

  .profilePic{
    margin-left:30%;
    margin-top: -9%;
  }

  .userInfo{
    padding: 20px;
  }

 .borderBottom{
   border-bottom: 2px solid black;
 }

/* Header part of resume- END */



 /* Body part of resume- START */
.resumeBody{
  background-color: grey;
}

.resumeObjective h2{
 padding-top: 1%;
  margin-left: 1%;
}

.resumeObjective p{
  width: 34rem;
  margin-left: 1%;
}


.resumeSkill h2{
  padding-top: 1%;
  margin-left: 1%;
 }

 .resumeSkill li{
   margin-left: 2%;
 }


 .resumeWork h2{
  padding-top: 1%;
  margin-left: 1%;
 }

 
 .jobTitle{
   display: inline-flex;
   width: 33rem;
   margin-left: 1%;
 }

 .jobTitle span{
   margin-right:20rem;
 }


 .jobCompany h4{
   margin-top: 0.5rem;
   margin-left: 1%;
 }


 .jobCompany p{
  width: 33rem;
  margin-left: 1%;
 }
 /* .jobTitle h4{
   margin-right: 12px;
 } */